<footer>
  <p>
    Rådata fra <a href="https://borgerforslag.dk/">borgerforslag.dk</a>
  </p>
  <p>
    <a href="https://github.com/nqpz/burgerforslag">Kode</a> (commit: {newest_commit})
  </p>
  <p>
    Kontakt: Niels G. W. Serup &lt;tomatketchup@burgerforslag.dk&gt;
  </p>
  <p>
    Burgerlogo baseret på
    <a href="https://commons.wikimedia.org/wiki/File:Blackdog_Cantina_hamburger.jpg">Blackdog_Cantina_hamburger.jpg</a>;
    licens: Creative Commons Attribution-ShareAlike 4.0
  </p>
</footer>
